# lists and default functions

In [1]:
lst=['half girlfriend',1921,'harry potter',1920,'dil bechara','commondo 3',1919.09]
print(lst)

['half girlfriend', 1921, 'harry potter', 1920, 'dil bechara', 'commondo 3', 1919.09]

In [2]:
lst.append(2334)    #1st function
print(lst)

['half girlfriend', 1921, 'harry potter', 1920, 'dil bechara', 'commondo 3', 1919.09, 2334]

In [3]:
lst1=[343,2445.4,'ganster','sultan']   #another list
print(lst1)

[343, 2445.4, 'ganster', 'sultan']

In [4]:
lst.extend(lst1)       #2nd function
print(lst)

['half girlfriend', 1921, 'harry potter', 1920, 'dil bechara', 'commondo 3', 1919.09, 2334, 343, 2445.4, 'ganster', 'sultan']

In [5]:
lst.index('dil bechara')   #3rd function

4

In [6]:
lst.index(2445.4)

9

In [8]:
lst.pop(9)                   #4th function
print(lst)

['half girlfriend', 1921, 'harry potter', 1920, 'dil bechara', 'commondo 3', 1919.09, 2334, 343, 'ganster', 'sultan']

In [9]:
lst.reverse()    #5th function
print(lst)

['sultan', 'ganster', 343, 2334, 1919.09, 'commondo 3', 'dil bechara', 1920, 'harry potter', 1921, 'half girlfriend']

In [12]:
lst.insert(90,11)
print(lst)

['sultan', 'ganster', 343, 2334, 1919.09, 'commondo 3', 'dil bechara', 1920, 'harry potter', 1921, 'half girlfriend', 11, 11]

# dictionary & default functions

In [13]:
info={'name':'virat','surname':'kohli','age':30,'team':'india','jersey no': 10,'ipl team':'RCB'}   #dictionary
print(info)

{'name': 'virat', 'surname': 'kohli', 'age': 30, 'team': 'india', 'jersey no': 10, 'ipl team': 'RCB'}

In [14]:
info.pop('ipl team') #1st function

'RCB'

In [15]:
len(info)   #finding length of dictionary

5

In [16]:
info.get('age')   #2nd function

30

In [19]:
info.keys()        #3rd function

dict_keys(['name', 'surname', 'age', 'team', 'jersey no'])

In [20]:
info1={'jersey no':7}
info.update(info1)            #4th function
print(info)

{'name': 'virat', 'surname': 'kohli', 'age': 30, 'team': 'india', 'jersey no': 7}

In [21]:
info.clear()             #5th function
print(info)

{}

# sets and default functions

In [22]:
days={'mon','tue','wed','thus','fri','sat'}          #sets
print(days)

{'thus', 'mon', 'sat', 'fri', 'tue', 'wed'}

In [23]:
days.add('san')                   #1st function
print(days)

{'thus', 'mon', 'sat', 'fri', 'san', 'tue', 'wed'}

In [24]:
days.discard('mon')         #2nd function
print(days)

{'thus', 'sat', 'fri', 'san', 'tue', 'wed'}

In [25]:
days1={'sat','tue','fri'}
days1.issubset(days)            #3rd function

True

In [26]:
days1={'sat','tue','fri'}
days.difference(days1)      #4th function

{'san', 'thus', 'wed'}

In [27]:
days.intersection(days1)      #5th function

{'fri', 'sat', 'tue'}

In [28]:
days.clear()                 #6th function
print(days)

set()

# tuples and default functions

In [30]:
tup=('chemistry','maths','english','physics')   #tuple
print(tup)

('chemistry', 'maths', 'english', 'physics')

In [31]:
tup.index('physics')       #1st function

3

In [29]:
tup1=(23,45,23,34,67,67,23,87,45)
tup1.count(23)                                   #2nd function

3

In [32]:
max(tup1)                                     #3rd function

87

In [33]:
min(tup1)                                     #4th function

23

In [34]:
len(tup1)                                     #5th function

9

In [35]:
#slicing tuple                            
tup1[1:5]                                   #slicing  as 6th function

(45, 23, 34, 67)

# string and explore default method

In [36]:
var1='lets get skilled with letsupgrade'
var2='PYTHON PROGRAMMING ESSENTIALS'
var1.capitalize()                            #1st function

'Lets get skilled with letsupgrade'

In [38]:
var1.count('g')         #1st function

2

In [39]:
var1.encode(encoding='UTF-8',errors='strict')         #2nd function

b'lets get skilled with letsupgrade'

In [40]:
var1.find('skilled')                               #3rd function

9

In [41]:
var1.isalpha()                          #4th function

False

In [42]:
var2.istitle()                        #5th function

False

In [43]:
var2.lower()                          #6th function

'python programming essentials'